<style>

    th, td {
        border: 1px solid black;
        padding: 10px;
    }

    table{
        border: 1px solid black;    
        margin-top: 5vh;
    }

    .section{
        margin-left: 25px;
        margin-bottom: 5vh;
    }

</style>

<h2>DevTools</h2>

<hr />

<h3>Database populate</h3>
<div class="section">

    <p>Upload run batch:</p>
    <input type="file" />

    <table>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th></th>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td><button>Run</button></td>
        </tr>

    </table>
</div>

<h3>Clean table:</h3>
<div class="section">
    <table>
        <tr>
            <th>Name</th>
            <th>Entries</th>
            <th></th>
        </tr>

        <tr>
            <td>Runs</td>
            <td>???</td>
            <td><button>Delete</button></td>
        </tr>

        <tr>
            <td>Instruments</td>
            <td>???</td>
            <td><button>Delete</button></td>
        </tr>

    </table>
</div>




