<script src="~/js/pace.js"></script>

<script>

    function RefreshInstruments() {
        $.ajax({
            url: '@Url.Action("RefreshInstruments", "Home")',
            success: function (data) {
                $('#instrumentView').html(data);
            }
        });
    }

</script>

<div class="container-fluid">

    <div class="row animated bounceInLeft" style="margin-bottom: 50px;">
        <div class="col">
            <div class="card" style="border: 3.5px solid #f0f0f0;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <h3>Add Instrument</h3>
                        </div>
                        @using (Html.BeginForm("addInstrument", "Home", FormMethod.Post))
                        {
                            <div class="form-inline">
                                <div class="col">
                                    <input class="form-control" placeholder="Nickname" type="text" name="nickname" />
                                </div>
                                <div class="col">
                                    <input class="form-control" placeholder="Address" type="text" name="address" />
                                </div>
                                <div class="col">
                                    <button type="submit" onclick="RefreshInstruments()" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                        }
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div id="instrumentView" class="row" onload="RefreshInstruments()">



    </div>


</div>

