<div class="container-fluid">

    <!-- Page Heading -->
    <div class="card" style="width: 18rem; width: 60vw; text-align: center; left: auto; right: auto; margin-bottom: 1vh; border-radius: 15px;">
        <div class="card-body" style="border-style:solid; border-radius: 15px; border-color: green; border-width: 2px;">
            <div class="row">
                <div class="col" style="text-align: left;">
                    <h5 class="card-title"><span class="btn btn-success btn-circle"><i class="fas fa-check"></i></span> 1425/1425 files up to date</h5>
                    <p class="card-text">Description of the content of the run, stats, etc...</p>
                </div>

            </div>


        </div>
    </div>

    @for (int i = 0; i <= 10; i++)
    {
        <div class="card" style="width: 18rem; width: 60vw; text-align: center; left: auto; right: auto; margin-bottom: 1vh;">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2" style="text-align: left;">
                        <h2>#runno</h2>
                    </div>
                    <div class="col" style="text-align: left;">
                        <h5 class="card-title">Something</h5>
                        <p class="card-text">Description of the content of the run, stats, etc...</p>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary">Left</button>
                                <button type="button" class="btn btn-secondary">Middle</button>
                                <button type="button" class="btn btn-secondary">Right</button>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    }


</div>