@model tangenportalv2.Models.Nugget;
@using tangenportalv2.Models;

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-2">

        </div>
    </div>



    @foreach (RunMod run in Model.runs)
    {
        <div class="card animated bounceInUp" style="border-left-color: cornflowerblue; border-left-width: 7px; width: 18rem; width: 60vw; height:75px; text-align: left; left: auto; right: auto; margin-bottom: 1vh;">
            <div class="card-body">

                <div class="row">

                    <div class="col">
                        <div class="row">
                            <div class="col" style="font-weight: bolder; ">
                                #@run.assayId
                            </div>
                            <div class="col">
                                <div class="row" style="color: cornflowerblue; font-weight: bold;">
                                    @run.dateTime.Split("T")[0]
                                </div>
                                <div class="row" style="color: cornflowerblue;">
                                    @run.dateTime.Split("T")[1].Replace("Z", "")
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row" style="text-align: right;">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                @using (Html.BeginForm("ViewRun", "Home", FormMethod.Post, new { target = "_blank" }))
                                {
                                    <input hidden value="@run.Id" id="runid" name="runid" />
                                    <button class="btn btn-sm btn-primary" style="margin-right: 10px;">View  <i class="far fa-chart-bar"></i></button>
                                }
                                @using (Html.BeginForm("DownloadRun", "Home", FormMethod.Post))
                                {
                                    <button class="btn btn-sm btn-secondary">Download Archive  <i class="fas fa-download"></i></button>
                                }
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    }

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            @for (int pnum = 0; pnum < Model.pagetotal; pnum++)
            {
                <button onclick="RunLoad(@pnum);" class="btn btn-link" style="margin-right: 10px;">@pnum</button>
            }
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>

